<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fit20.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>540BE0501CEF2AFF00A89D0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>540BE0691CEF2AFF00A89D0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>540BE0741CEF2AFF00A89D0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
